.card {
      border-radius: 15px;
      transition: transform 0.3s;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .card:hover {
      transform: scale(1.02);
    }

    .card-img-top {
      height: 250px;
      object-fit: cover;
    }

    .price {
      font-weight: bold;
      color: #198754;
    }

    .decant {
      font-size: 0.9rem;
      color: #555;
    }

    .cart-btn {
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 999;
    }
    .whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  font-size: 28px;
  padding: 15px;
  border-radius: 50%;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease-in-out;
}

.whatsapp-float:hover {
  transform: scale(1.1);
  color: white;
  text-decoration: none;
}
